<div class="header-container">
    <div class="m-login">
        <span>Student Subject Help</span>
        <button ng-click="dropdown($event); viewClick($event)" class="m-account">
            <i class="fas fa-user-circle"></i>
            Account
            <i class="fas fa-angle-down"></i>
        </button>
        <div id="m-login" class="m-account-btn">
            <a href="#!/">Log In</a>
            <a href="#!/">Sign Up</a>
        </div>
    </div>
    <div class="m-nav">
        <ul>
            <li><a ng-href="#!/calendar">Calender</a></li>
            <li><a href="">Files</a></li>
            <li><a href="#!/timetable">TimeTable</a></li>
            <li><a href="#!/events">Events</a></li>
            <li><a href="#!/"> About Us</a></li>
        </ul>
    </div>
</div>
